* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #fafafa;
  height: 100%;
}

.app__header {
  /* prevent logo from stretching */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  object-fit: contain;
  background-color: #fff;
  padding: 1.5vh;
  border: 1px solid #dbdbdb;
  margin-bottom: 3vh;
  align-items: center;
}

.header__logInBtn {
  background-color: #0095f6 !important;
  text-transform: capitalize !important;
}

/* Material Ui over-rides */

.MuiButton-textPrimary {
  color: #0095f6 !important;
  font-weight: 500 !important;
  text-transform: capitalize !important;
  font-family: "Montserrat", sans-serif !important;
  letter-spacing: 0.4px !important;
  font-size: 14px !important;
}

.LogInForm__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
