* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #fafafa;
  height: 100%;
}

.app__header {
  /* prevent logo from stretching */
  object-fit: contain;
  background-color: #fff;
  padding: 1.5vh;
  border: 1px solid #dbdbdb;
  margin-bottom: 3vh;
}
