.post {
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  max-width: 700px;
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
  margin: auto;
  margin-bottom: 6vh;
}

h4 {
  font-weight: 400;
}

.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.post__profileName {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.post__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1vw 0.7vw;
}

.post__avatar {
  margin-right: 10px;
}

.post__text,
.post__icons {
  padding: 0.5vw 0.7vw;
  font-size: 14px;
}
