.post {
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  max-width: 40vw;
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
  margin: auto;
  margin-bottom: 6vh;
}

h4 {
  font-weight: 400;
}

.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.post__profileName {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.post__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1vw 0.7vw;
}

.post__avatar {
  margin-right: 10px;
}

.post__text,
.post__icons {
  padding: 0.5vw 0.7vw;
  font-size: 14px;
}

input[type="text"] {
  padding-left: 10px;
}

.Post_commentBox {
  display: flex;
  margin-top: 1vh;
}

.Post__input {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid #dbdbdb;
}

Post__button {
  flex: 0;
}

.Post_commentBox .MuiButton-root {
  color: #0095f6 !important;
}
